/* ********** Custom Properties ********** */
:root {
  --first-color: #0a1c78;
  --first-alpha-color: rgba(10, 28, 120, 0.75);
  --second-color: #a3940d;
  --second-alpha-color: rgba(163, 148, 13, 0.75);
  --white-color: #fff;
  --gray-color: #c4c4c4;
  --ivory-color: #ececeb;
  --midnight-blue: #265b8b;
  --baby-blue: #84c7f2;
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #509ee3;
  --alternate-color: #a81b26;
  --alternate-alpha-color: rgba(168, 27, 38, 0.75);
  --font: "Montserrat", sans-serif;
  --text-color: #222;
  --max-width: 1200px;
  --header-height: 4.5rem;
}
/* ********** Reset ******** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}
a {
  color: var(--second-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

details nav > a {
  text-decoration: none;
  display: block;
  color: var(--baby-blue);
  padding-left: 1.75rem;
  margin-top: 0.2rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/* ********** Components ****** */

/* ********* Contact Form ****** */

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--alternate-color);
  padding-left: 0;
}

.contact-form input[type="submit"] {
  cursor: pointer;
  margin-top: 0;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}
.contact-form textarea {
  border: thin solid var(--alternate-color);
  resize: none;
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--ivory-color);
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea {
    grid-column: span 2;
  }
  .contact-form input[type="submit"] {
    /* grid-column: span 2; */
    margin-left: 0;
  }
}

/****** HeroImage ****** */

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
}
.hero-image-title {
  font-size: 7vw;
  color: var(--hero-text-color) !important;
}
/**** Menu ****/
.menu-btn {
  outline: thin solid var(--second-color);
  border: 0;
  cursor: pointer;
  background-color: var(--first-color);
}

.menu-btn svg {
  fill: var(--second-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-color: var(--midnight-blue);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--second-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--alternate-color);
}
/* ****** Modal ******* */

.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  background-color: var(--black-alpha-color);
}
.modal-content {
  position: relative;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--first-color);
}
.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    position: static;
    width: auto;
    flex-direction: row;
  }
  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

/* ******** Utilities ******** */
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--first-color);
  color: var(--second-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
}
.m-top {
  margin-top: 2rem;
}
.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--alternate-color);
  border-bottom: thin solid var(--alternate-color);
  margin: 2.5rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 250px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}

.none {
  display: none;
}

/******** Site Styles **************/
.about > article {
  margin-bottom: 2rem;
}

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.contact-card > small {
  margin-top: -1rem;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--first-alpha-color);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--first-color);
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.personal > a svg {
  margin-left: 1rem;

  height: 2.5rem;
  width: auto;
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--second-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  padding: 1rem;
  max-width: 400px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.portfolio-modal h3 {
  margin: 1rem auto;
  padding: 0.5rem 0;
  border-bottom: medium solid var(--alternate-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 1.5rem;
}
.portfolio-details b {
  color: var(--alternate-color);
}

.social-media a {
  text-decoration: none;
  padding: 0 0.4rem;
}
.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

.summary {
  border: thin solid black;
  display: flex;

  align-items: center;
  cursor: pointer;
}

.summary > h3 {
  padding-left: 0.75rem;
}

.summary svg {
  fill: var(--first-color);
}

.summary::-webkit-details-marker {
  color: var(--alternate-color);
  font-size: 1rem;
  margin-left: 0.75rem;
}
@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }
  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }
  .portfolio-modal img {
    max-width: 400px;
  }
  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
  .footer {
    margin-bottom: 0;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }
  .logo img {
    height: 3.5rem;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }
  .summary {
    width: 80%;
  }
}
